@import 'styl/*'

add(a, b)
	a + b


body 
	background primary
	color red
	border solid 1px @color
	margin-left add(1rem,15px)
	section
		margin-top ceil(2.32px)
		color black
		border solid 1px @color
		border-radius 50px
		cf() 