@import "compass/css3";
@import "juice";
@import "variables";
@import "functions";

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@include font-face("FontAwesome", font-files("FontAwesome.otf"));

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-size: $font-size;
    @include clean;
    font-family: $font-family;
    font-weight: 400
}

p {
    font-family: 'Dosis';
}

h2 {
    font-size: rem-calc(20px);
    font-family: "Dosis";
    color: $gray;
    font-weight: bold;
    background: none;
}

.fivestar-outline div.fivestar-widget .star, .fivestar-outline div.fivestar-widget .star a,
.fivestar-outline div.fivestar-widget-static .star {
    background: url(../images/star.png) no-repeat 0 0px;

    span.on {
        background: url(../images/star.png) no-repeat 0 -28px;
    }
}

.fa {
    color: white;
    font-size: 16px;
}

.phone, .mail, .map {
    padding-left: 23px;
}

.phone {
    background: url("../images/icon_footer_phone.png") left center no-repeat;
}

.mail {
    background: url("../images/icon_footer_mail.png") left center no-repeat;
}

.map {
    background: url("../images/icon_footer_loc.png") left center no-repeat;
}

.title {
    background: none;
}

.button {
    @include button($button-background, $button-shadow, $button-text);
}

.container {
    width: 100%;
    padding-bottom: 5px;
}

.header_wrapper, .slider_wrapper, .body_wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.body_wrapper {
    margin-top: 10px;
}

.header_left img {
    margin-left: 0px;
    margin-top: 31px;
}

.header_inside, .slider_inside, .body_inside {
    width: 100%;

    @include bp(medium-up) {
        width: $site-width;
    }

    margin: 0 auto;
    padding: 0;
}

.header_wrapper {
    background: rgba(0, 0, 0, 0.7);
}

.slider_and_header_wrapper {
    background: url("../images/slider_pattern.png");
}

#wrapper.full_wrapper {
    padding: 0px;
}

/*--------------header--------------*/
.header_phone, .header_mail {
    color: $gray;
}

.bean-header-right {
    float: right;

    .button {
        margin-top: 4px;
        @include button($button-dark-background, $button-dark-shadow, $button-dark-text);
    }

    .button:last-child {
        margin-left: 15px;
    }
}

/*------menu-----*/
#menu {
    background: none;
}

#menu > ul > li {
    background: none;

    .active {
        border-bottom: 1px solid $white !important;
    }
}

#menu > ul > li > a {
    background: none;
    color: $menu-text;
    text-shadow: none;
    font-family: 'Dosis';
    font-weight: 300;
    font-size: rem-calc(19px);
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

#menu > ul > li:hover > a {
    background: none;
    display: inline-block;
    border-bottom: solid 1px white;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;

    &:after {
        height: 1px;
        -webkit-transition: height .3s,opacity .3s,-webkit-transform .3s;
        -moz-transition: height .3s,opacity .3s,-moz-transform .3s;
        transition: height .3s,opacity .3s,transform .3s;
    }
}

.header_inside {
    padding-bottom: 25px;
}

.front {
    .header_inside {
        .row:last-child {
            display: none;
        }
    }
}

/*-----slider----*/
.slideshow_text_wrapper {
    position: absolute;
    width: 280px;
    margin-left: 15px;
    color: $slider-description-text;
    background: rgba(0, 0, 0, $slider-description-opacity);
    bottom: 75px;
    padding: 20px  15px  25px 10px;

    .slideshow_title {
        font-size: rem-calc(22px);
        font-family: "Dosis";
    }

    .slideshow_omschrijving {
        font-size: rem-calc(16px);
        font-family: "Dosis";
        line-height: 1.25;
        margin-top: 10px;
    }
}

.views-field-field-knop {
    position: absolute;
    bottom: 25px;
    margin-left: 15px;

    a {
    //    @include button($button-background, $button-shadow, $button-text);


        &:hover {
            bottom: 21px;
        }
    }
}

.views_slideshow_slide {
    height: 400px;
}

/*-------over carthage-------*/
#block-bean-about-carthage {
    background: $gray-image-border;
    padding: 1px;
    margin-bottom: 30px;

    .content {
        border: 1px solid $white;
        background: $over-carthage-achtergrond;
    }

    .group-left {
        width: 100%;
        float: none;
        clear: both;

        @include bp(medium-up) {
            width: 320px;
            float: left;
            clear: none;
        }

        img {
            margin: 21px;
            border: 1px solid $gray-image-border;
        }
    }

    .group-right {
        width: 100%;
        float: none;
        clear: both;

        @include bp(medium-up) {
            width: calc(100% - 320px);
            float: right;
            clear: none;
        }

        .title {
            font-size: rem-calc(20px);
            font-family: "Dosis";
            color: $gray;
            font-weight: bold;
        }

        .field-item {
            font-size: rem-calc(16px);
            font-family: "Dosis";
            color: $gray;
            line-height: 1.25;
        }

        .button {
            font-weight: 400;
            float: right;
            margin-top: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
        }
    }
}

/*----laatste nieuws-----*/
#block-views-laatste-nieuws-block {
    width: 100%;
    clear: both;

    @include bp(medium-up) {
        width: 48%;
        float: left;
        clear: none;
        margin-right: 2%;
    }

    img {
        border: 1px solid $gray-image-border;
    }

    .group-left {
        width: 150px;

        img {
            margin-bottom: 20px;
        }

        .field-name-node-link {
            a {
                @include button($button-background, $button-shadow, $button-text);
                padding: 0.5em 36px;
            }
        }
    }

    .group-right {
        width: calc(100% - 165px);
        margin-left: 15px;

        .field-name-title {
            font-size: rem-calc(18px);
            font-family: "Dosis";
            color: $gray;
            text-decoration: underline;
            margin-bottom: 13px;
            margin-top: -5px;
            font-weight: 400;
        }

        .field-name-body {
            font-size: rem-calc(16px);
            font-family: "Dosis";
            color: $gray;
        }
    }
}

/*-------een klant aan het woord-------*/
#block-views-recent-comment-block {
    width: 100%;
    float: none;
    clear: both;

    .views-more-link {
        float: right;
        margin-right: 15px;
        @include hoverer(color, $red-light, $red-dark);
    }

    @include bp(medium-up) {
        width: 48%;
        margin-left: 2%;
        float: right;
        clear: none;
    }

    .views-field-comment-body {
        border: 1px solid transparent;
        -moz-border-image: -moz-linear-gradient(top, #ffffff 0%, #000000 100%);
        -webkit-border-image: -webkit-linear-gradient(top, #ffffff 0%, #000000 100%);
        border-image: linear-gradient(to bottom, #ffffff 55%, #000000 100%);
        border-image-slice: 1;
        padding: 15px 0px 20px 10px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            bottom: -25px;
            /* value = - border-top-width - border-bottom-width */
            left: 40px;
            /* controls horizontal position */
            border-width: 25px 0 0 21px;
            //0 width height 0
            border-style: solid;
            border-color: $gray transparent;
            /* reduce the damage in FF3.0 */
            display: block;
            width: 0;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: -22px;
            /* value = - border-top-width - border-bottom-width */
            left: 41px;
            /* value = (:before left) + (:before border-left) - (:after border-left) */
            border-width: 23px 0 0 19px;
            border-style: solid;
            border-color: #fff transparent;
            /* reduce the damage in FF3.0 */
            display: block;
            width: 0;
        }
    }

    .views-field-name {
        margin-left: 70px;
        float: left;
    }

    .views-field-field-score {
        float: right;

        .form-item {
            @include clean;
            margin-top: 8px;
        }
    }
}

/*-------USP unique selling points ------*/
#block-bean-unique-selling-points {
    width: 100%;
    clear: both;
    margin-top: 25px;

    @include bp(medium-up) {
        width: 50%;
        clear: left;
        float: left;
        margin-top: 62px;
    }

    .fa {
        color: $gray;
        display: block;
        line-height: 1.8;

        &:before {
            margin-right: 11px;
        }
    }

    .field-item {
        color: $gray;
    }

    .field-name-field-tekst-voor-knop {
        margin-top: 8px;
        float: left;
        margin-right: 30px;
    }

    .button {
        margin-top: 10px;
    }
}

/*-------image rechtsonder homepage------*/
#block-bean-image {
    width: 100%;
    clear: both;
    margin-top: 25px;

    img {
        border: 1px solid $gray-image-border;

        @include bp(medium-up) {
            float: right;
        }
    }

    @include bp(medium-up) {
        width: 50%;
        clear: none;
        float: right;
        margin-top: 45px;
    }
}

/*----footer-------*/
#footer {
    font-size: rem-calc(16px);
    font-family: "Dosis";
    color: $gray;
    font-weight: bold;
    line-height: 1.25;

    h3 {
        font-size: 16px;
        font-family: "Dosis";
        color: $white;
        font-weight: bold;
        line-height: 1.25;
    }

    p {
        color: $white;
        font-size: rem-calc(14px);
        font-family: "Dosis";
        font-weight: 400;
    }

    .region-footer-firstcolumn {
        ul li.leaf {
            list-style: none;
        }

        ul li {
            background: none !important;
            color: $red-light;
            position: relative;

            .active {
                border-bottom: 1px solid $red-light;
            }

            &:before {
                @include icon($red-light, "");
                font-size: rem-calc(12px);
                left: -7px;
            }

            a {
                @include hoverer(color, $red-light, $red-dark);
                font-size: rem-calc(14px);
            }
        }
    }

    .region-footer-fourthcolumn {
        a {
            @include hoverer(color, $white, $red-light);
        }

        .bean-contacteergegevens {
            position: relative;
        }

        .button {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        @include bp(small) {
            margin-bottom: 25px;
        }
    }
}

.footer_btm {
    #powered {
        font-size: rem-calc(12px);
        font-family: "Dosis";
        color: rgb(162, 162, 162);
        text-align: left;
    }

    #siteby {
        float: right;
        font-size: rem-calc(12px);
        font-family: "Dosis";
        color: rgb(162, 162, 162);
        text-align: right;
    }

    @include bp(small) {
        margin-top: 10px;
    }
}

//extra pagina's, niet frontpage

.not-front {
    .breadcrumb, .page_heading {
        display: none;
    }

    #field-slideshow-1-wrapper {
        width: auto;
        float: left;
        border: 1px solid $gray-image-border;
        margin: 0 10px 10px 0;

        @include bp(small) {
            width: 100%;
            margin: 0px;
        }
    }

    .field-slideshow-controls {
        display: none;
    }
}

//menu opmaken

.view-menu {
    h3 {
        color: $red-light;
        text-transform: uppercase;
        font-size: rem-calc(16px);
        margin-bottom: 5px;
    }

    table {
        width: 100%;
    }

    .views-field-title {
        color: #866872;
        text-transform: uppercase;
        font-size: rem-calc(14px);
        width: 70%;
        float: left;
        line-height: 1.3;
        margin-bottom: 7px;
    }

    .views-field-field-beschrijving {
        font-size: rem-calc(12px);
        margin-bottom: 10px;
    }

    .views-field-field-prijs {
        font-size: rem-calc(14px);
        float: right;
        width: 30%;
        text-align: right;
        margin-bottom: 7px;
    }
}

.node-type-guestbook, .page-comment-reply {
    #edit-submit {
        @include button($button-background, $button-shadow, $button-text);
    }

    .form-item-homepage {
        display: none;
    }

    .comments_section {
        @include clean;
        margin: 0px;

        #comments {
            @include clean;
            margin-top: 40px;
            border: none;

            .title.comment-form {
                display: none;
            }
        }
    }

    .form-item-name, .form-item-mail {
        label {
            float: left;
            width: 90px;
        }

        input {
            float: left;
            margin-right: 10px;
        }

        .description {
            margin-top: -3px;
        }
    }

    .form-type-fivestar {
        clear: both;

        label {
            float: left;
            width: 45px;
            margin-top: -3px;
        }
    }

    .form-textarea {
        font-weight: 400;
        color: black;
    }
}

.view-id-laatste_nieuws.view-display-id-page {
    .node.node-teaser {
        padding-bottom: 30px;
    }

    .group-left {
        width: 180px;

        .field-type-image {
            margin-bottom: 7px;
        }

        .field-name-node-link {
            a {
                @include button($button-background, $button-shadow, $button-text);
                padding: 0.5em 2.2em;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }

    .group-right {
        width: 80%;
        width: calc(100% - 180px);
    }
}

.node-type-nieuws {
    .field-name-field-latest-news-image {
        width: 290px;
        float: left;
        margin-right: 15px;
        margin-bottom: 10px;

        img {
            border: solid 1px $gray-image-border;
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }
}

.page-node-52 {
    #block-system-main {
        width: 50%;
        float: left;

        @include bp(xsmall) {
            width: 100%;
            clear: both;
        }
    }

    .webform-component-textarea {
        textarea {
            color: black;
            font-weight: 400;
        }
    }

    #block-multiblock-1 {
        float: right;
        width: 50%;

        @include bp(xsmall) {
            width: 100%;
            clear: both;
            margin-bottom: 30px;
        }

        .button {
            display: none;
        }

        .phone {
            background: url("../images/icon_black_phone.png") left center no-repeat;
        }

        .mail {
            background: url("../images/icon_black_mail.png") left center no-repeat;
        }

        .map {
            background: url("../images/icon_black_loc.png") left center no-repeat;
        }
    }

    #block-block-10 {
        clear: both;
    }
}

//responsive

@include bp(small) {
    .slider_wrapper {
        display: none;
    }

    .body_inside {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .front #block-system-main {
        display: none;
    }

    .container .sixteen.columns {
        width: 100%;
    }

    #block-views-laatste-nieuws-block, #block-views-recent-comment-block {
        margin-bottom: 40px;
    }

    #block-bean-about-carthage .img {
        display: block;
        margin: auto;
    }

    .row.footer_inside {
        width: 96% !important;
        margin-left: 2%;
        margin-right: 2%;

        .four.columns {
            width: 50%;
            float: left;

            @include bp(small-only) {
                .region-footer-firstcolumn {
                    height: 280px;
                }

                .region-footer-secondcolumn {
                    clear: left;
                    float: left;
                }

                .region-footer-thirdcolumn {
                    float: right;
                    clear: right;
                    height: 280px;
                }

                .region-footer-fourthcolumn {
                    float: right;
                }
            }

            @include bp(xsmall) {
                float: none;
                width: 100%;
            }
        }
    }

    #block-bean-image img {
        width: 100%;
        height: auto;
    }

    .bean-header-right {
        float: none;
    }
}


@include bp(medium-up) {
    .entitytype-bestel-form {
        .field-name-field-naam {
            width: 50%;
            float: left;

            label {
                float: left;
                margin-right: 105px;
            }
        }

        .field-name-field-e-mail-adres {
            float: left;
            width: 50%;

            label {
                float: left;
                margin-right: 30px;
            }
        }

        .field-name-field-phone-bestel {
            label {
                float: left;
                margin-right: 30px;
            }
        }

        .field-name-field-betalingswijze {
            width: 50%;
            float: left;

            .form-type-radio {
                float: left;
                margin-right: 25px;
            }
        }

        .field-name-field-datum {
            width: 50%;
            float: right;
            margin-top: 15px;

            label {
                font-weight: normal;
                font-size: 13px;
                color: #444;
            }

            input {
                margin-bottom: 5px;
            }

            legend span {
                font-weight: bold;
                color: #555;
                font-size: 16px;
            }
        }

        .field-name-field-opmerkingen {
            clear: both;
        }

        .field-name-field-gerecht {
            .field-multiple-table {
                width: 100%;
            }
        }
    }
}


.entitytype-bestel-form .field-name-field-gerecht {
    .field-multiple-table {
        width: 100%;

        .field-multiple-drag {
            display: none;
        }

        .field-name-field-collection-gerecht {
            width: auto;
            float: left;

            @include bp(small) {
                margin-bottom: 20px;
            }

            label {
                float: left;
                margin-right: 20px;
            }
        }

        .field-name-field-aantal-gerechten {
            float: left;
            width: auto;

            @include bp(medium-up) {
                margin-left: 100px;
            }

            input {
                width: 50px;
            }

            label {
                float: left;
                margin-right: 20px;
            }
        }

        .form-submit {
            float: right;
            @include button($button-background, $button-shadow, $button-text);
        }
    }

    .field-add-more-submit {
        @include button($button-background, $button-shadow, $button-text);
        float: left;
        margin-top: 15px;
    }
}

.entitytype-bestel-form {
    .tabledrag-toggle-weight-wrapper {
        display: none;
    }

    .form-submit {
        @include button($button-background, $button-shadow, $button-text);
        float: right;
        margin-top: -58px;
    }
}

.node-guestbook {
    .form-type-textfield {
        @include bp(small) {
            clear: both;

            .description {
                float: left;
            }
        }
    }
}

@include bp(xsmall) {
    .page-laatste-nieuws {
        .group-left {
            width: auto !important;
            float: left;
            margin-right: 4%;
        }

        .group-right {
            width: 100% !important;
            float: none;
        }
    }
}


.page-node-52 {
    .form-actions {
        .button-primary {
            @include button($button-background, $button-shadow, $button-text);
        }
    }

    .links a {
        @include hoverer(color, $black, $red-light);
    }
}

.header_phone a, .header_mail a{
&:hover{
    color: $button-dark-background;
}
}