@import "variables";
@import "functions";
@import "juice";

body{
	background:url(../img/bg.jpg) no-repeat center center fixed; 
  @include juice-prefixer(background-size, cover, webkit moz o);
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
	padding-top: 15px;
	padding-bottom: 15px;
}

.page-wrapper{
	width: $site-width;
	border-radius: 10px;
	@include juice-prefixer(border-radius, 10px, webkit moz ms o spec);
}

.sidebar{
	.design-selection{
		@include button();
	}
}
