@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: "FontAwesome";
  src: url('/fonts/FontAwesome.otf?1430204738') format('opentype');
}
/* line 10, ../sass/custom.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-weight: 400;
}

/* line 17, ../sass/custom.scss */
p {
  font-family: 'Dosis';
}

/* line 21, ../sass/custom.scss */
body {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
  padding-top: 15px;
  paddin-bottom: 15px;
}

/* line 30, ../sass/custom.scss */
.page-wrapper {
  width: 960px;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  border-radius: 10px;
}

/*
.intro{
    width: 75%;
    float: left;
}
.main{
    clear: both;
}
.sidebar{
    width: 25%;
    float: right;}
*/
/* line 53, ../sass/custom.scss */
.design-selection ul li a {
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  padding: .5em 1em;
  -webkit-box-shadow: 0px 4px 4px 0px #b2b2b2;
  -moz-box-shadow: 0px 4px 4px 0px #b2b2b2;
  box-shadow: 0px 4px 4px 0px #b2b2b2;
}
/* line 115, ../sass/_functions.scss */
.design-selection ul li a:hover {
  cursor: pointer;
  background-color: #d8d8d8;
  border-color: #999999;
}
